<div id="capsule-form" data-controller="form-steps" data-action="turbo:submit-end->form-steps#handleErrors" class="container body d-flex align-items-center justify-content-center vh-100 style="background-color: #FDF6E3;">

  <%= simple_form_for @capsule do |f| %>

    <div>
      <div class="card-body">

        <div data-form-steps-target="step" class="step center-audio">

          <h3 class="text-center text-black fw-bold mb-4">Recording Kapsul</h3>

          <%= render "record" %>

          <div class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-light text-white rounded-pill px-4" data-action="form-steps#nextStep">Next</button>
          </div>

          <div class="justify-content-center align-items-center progress-bar-container">
            <div class="rounded-pill size" style="background-color: #0B173F;"></div>
            <div class="rounded-pill size" style="background-color: #C8102E;"></div>
            <div class="rounded-pill size" style="background-color: #C8102E;"></div>
          </div>

        </div>

        <div data-form-steps-target="step" class="step d-none">

          <h3 class="text-center text-black fw-bold mb-4">Give us more details</h3>

          <div class="form-group mb-3">
            <%= f.input :title, required: true %>
          </div>
          <div class="form-group mb-3">
            <%= f.input :teasing, as: :text, required: true %>
          </div>
          <div class="form-group mb-3">
              <%= f.collection_select :category,
                          [['Histoire', 'histoire'],
                           ['Art', 'art'],
                           ['Love', 'love'],
                           ['Architecture', 'architecture'],
                           ['Temporaire', 'temporaire'],
                           ['Cachée', 'cachée'],
                           ['Horreur', 'horreur'],
                           ['Légende', 'légende'],
                           ['Nature', 'nature'],
                           ['Fantasy', 'fantasy']],
                          :second,
                          :first,
                          { label: "Category", prompt: "Sélectionnez une catégorie", required: true },
                          { class: "form-control" } %>
          </div>

          <div class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-light text-white rounded-pill px-4" data-action="form-steps#previousStep">Back</button>
            <button type="button" class="btn btn-light text-white rounded-pill px-4" data-action="form-steps#nextStep">Continue</button>
          </div>

          <div class="justify-content-center align-items-center progress-bar-container">
            <div class="rounded-pill size" style="background-color: #0B173F;"></div>
            <div class="rounded-pill size" style="background-color: #0B173F;"></div>
            <div class="rounded-pill size" style="background-color: #C8102E;"></div>
          </div>
        </div>

        <div data-form-steps-target="step" class="step d-none">

          <h3 class="text-center text-black fw-bold mb-4">Location & Photo</h3>

          <div class="form-group mb-3">
          <%= f.input :address, required: true %>
          </div>

          <div class="form-group mb-3">
            <%= f.input :photo, as: :file, required: true %>
          </div>

          <div class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-light text-white rounded-pill px-4" data-action="form-steps#previousStep">Back</button>
            <%= f.button :submit, "Submit", class: "btn btn-light text-white rounded-pill px-4" %>
          </div>

          <div class="justify-content-center align-items-center progress-bar-container">
            <div class="rounded-pill size" style="background-color: #0B173F;"></div>
            <div class="rounded-pill size" style="background-color: #0B173F;"></div>
            <div class="rounded-pill size" style="background-color: #0B173F;"></div>
          </div>

        </div>
      </div>
    </div>
 <% end %>
</div>
