<div id="capsule-form" data-controller="form-steps" data-action="turbo:submit-end->form-steps#handleErrors">
  <%= simple_form_for @capsule do |f| %>
    <div data-form-steps-target="step" class="step">
      <h3>Step 1: Recording </h3>
      <%= render "record" %>
      <%= link_to "Back to Capsules", capsules_path, class: "btn btn-secondary" %>
      <button type="button" class="btn btn-primary" data-action="form-steps#nextStep">Continue</button>
    </div>

    <div data-form-steps-target="step" class="step d-none">
      <h3>Step 2: Details</h3>
      <%= f.input :title, required: true %>
      <%= f.input :teasing, as: :text, required: true %>
      <%= f.input :category, label: "Category", required: true %>

      <button type="button" class="btn btn-secondary" data-action="form-steps#previousStep">Back to Step 1</button>
      <button type="button" class="btn btn-primary" data-action="form-steps#nextStep">Continue</button>
    </div>

    <div data-form-steps-target="step" class="step d-none">
      <h3>Step 3: Media & Location</h3>
      <%= f.input :address, required: true %>

      <button type="button" class="btn btn-secondary" data-action="form-steps#previousStep">Back to Step 2</button>
      <%= f.button :submit, "Submit", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
