<h2 class="card-title"><%= capsule.title %></h2>
<div class="capsule-photo mb-3">
  <% if capsule.photo.attached? %>
    <%= cl_image_tag capsule.photo.key, alt: "Picture of the capsule", class: "capsule-image"%>
  <% else %>
    <%= image_tag "icons/Photo/logo-capsule.png", alt: "Default image", class: "capsule-image" %>
  <% end %>
</div>

<div class="content">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= cl_image_tag(capsule.user.avatar.key.presence || 'logo-capsule.png', class: "capsule-avatar me-2", alt: "User Avatar") %>
      <span class="name"><%= capsule.user.name %></span>
    </div>
    <div class="button-right">
      <% like = capsule.likes.find_by(user: current_user) %>
      <%= render "button_like", capsule: capsule, like: like %>
    </div>
  </div>
</div>

<div>
  <p class="card-description"><%= capsule.teasing %></p>
</div>

<% if capsule.audio_url.present? %>
  <div data-controller="audio-reviews">
    <div class="audio-centre">
      <audio data-audio-reviews-target="audio" data-action="ended->audio-reviews#audioEnded" controls>
        <source src="<%= capsule.audio_url %>" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
<% end %>

<div>
  <%= render 'comments/form', capsule: capsule %>
</div>

<div>
  <% like = capsule.likes.find_by(user: current_user) %>
</div>
