


  <h2 class="card-title"><%= capsule.title %></h2>
    <div class="capsule-photo mb-3">
      <% if capsule.photo.attached? %>
        <%= cl_image_tag capsule.photo.key, alt: "Photo de la capsule" %>
      <% else %>
        <%= image_tag "icons/Photo/logo-capsule.png", alt: "Default image"%>
      <% end %>
    </div>

    <div>
      <%= cl_image_tag current_user.avatar.key, class: "capsule-avatar mb-2", alt: "User Avatar" %>
      <span class="name"><%= current_user.name %></span>
    </div>

    <div>
    <p class="card-description"><%= capsule.teasing %></p>
    </div>

    <div data-controller="audio-reviews">
      <% if capsule.audio_url.present? %>
        <div class="audio-centre">
          <audio  data-audio-reviews-target="audio" data-action="ended->audio-reviews#audioEnded" controls>
            <source src="<%= capsule.audio_url %>" type="audio/mpeg" >
           Your browser does not support the audio element.
          </audio>
        </div>
      <% end %>


      <div data-audio-reviews-target="feedbackSection"  class="d-none">
          <%= render 'reviews' %>
      </div>
    </div>
      <% if true%>
        <div class="pt-2">
          <i class="fa-solid fa-heart" style="font-size: 1.3rem;"></i>
        </div>
      <% else %>
        <div class="pt-2">
          <i class="fa-regular fa-heart" style="font-size: 1.3rem;"></i>
          </div>
      <% end %>
