
<div data-controller="audio-reviews">

<h2 class="card-title"><%= capsule.title %></h2>
  <div>
    <% if capsule.photo.attached? %>
     <%= cl_image_tag capsule.photo.key, alt: "Photo de la capsule", class: "capsule-photo" %>
    <% else %>
      <%= image_tag "icons/Photo/logo-capsule.png", alt: "Default image", class: "capsule-photo" %>
    <% end %>
  </div>

   <div>
    <%= cl_image_tag current_user.avatar.key, class: "capsule-avatar mb-2", alt: "User Avatar" %>
    <span class="name"><%= current_user.name %></span>
  </div>

  <div>
      <% if capsule.audio_url.present? %>
        <div class="audio-centre">
          <audio  data-audio-reviews-target="audio" data-action="ended->audio-reviews#audioEnded" controls>
            <source src="<%= capsule.audio_url %>" type="audio/mpeg" >
           Your browser does not support the audio element.
          </audio>
        </div>
      <% end %>
  </div>

      <p class="card-description"><%= capsule.teasing %></p>

      <div data-audio-reviews-target="feedbackSection"  class="d-none">
          <%= render 'reviews', capsule:capsule %>
      </div>

      <div class="likes-container">
         <span id="likes-count-<%= capsule.id %>">
            <%= capsule.likes.count %>
            <i class="fa-solid fa-heart" style="color: #74C0FC;"></i>
          </span>
      </div>
</div>
