<div class="profile-container">
  <h1 class="typo-h3">Edit my profile</h1>

  <%= form_for @user, url: user_path(@user), data:{turbo: false}, method: :patch  do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.submit "To update", class: "btn btn-outline-warning"%>
      <%= link_to "Cancel", user_path(current_user), class: "btn btn-outline-warning" %>
    </div>
  <% end %>
</div>
