<%= link_to root_path(lat: capsule.latitude, lng: capsule.longitude, zoom: 12, openPopup: true), class: "text-decoration-none" do %>
  <div class="d-flex align-items-center border-0 lign-items-center p-2 shadow-sm card-capsule">
    <div>
    <%# Adding the else in case a capsule is created without photo %>
      <% if capsule.photo && capsule.photo.key %>
        <%= cl_image_tag capsule.photo.key, alt: capsule.title, class: "capsule-avatar" %>
      <% else %>
        <%= image_tag "icons/Photo/logo-capsule.png", alt: capsule.title, class: "capsule-avatar" %>
      <% end %>
    </div>

    <div class="ms-3">
      <h6 class="mb-1 fw-bold" style="color: #333;"><%= capsule.title %></h6>
      <div class="d-flex align-items-center text-muted" style="font-size: 14px;">
        <i class="fa fa-heart text-danger me-1"></i>
        <span><%= capsule.likes.count %></span>
        <small class="ms-2"><%= capsule.created_at.strftime("%d %b %Y") %></small>
      </div>
    </div>
  </div>
<% end %>
