<div id="right-menu" class="side-menu">
  <button class="btn close-btn text-muted" data-action="click->menu#closeRightMenu"><i class="bi bi-x-circle"></i></button>
  <h2 class="typo-bmenu ">Exploration</h2>


    <div class="d-flex flex-wrap gap-2 p-3 custom-container">
      <%= link_to "All", root_path(category: "all"), class: "btn-category marker-style-all" %>
      <%= link_to "History", root_path(category: "histoire"), class: "btn-category marker-style-histoire" %>
      <%= link_to "Art", root_path(category: "art"), class: "btn-category marker-style-art" %>
      <%= link_to "Love", root_path(category: "love"), class: "btn-category marker-style-love" %>
      <%= link_to "Architecture", root_path(category: "architecture"), class: "btn-category marker-style-architecture" %>
      <%= link_to "Horror", root_path(category: "horreur"), class: "btn-category marker-style-horreur" %>
      <%= link_to "Nature", root_path(category: "nature"), class: "btn-category marker-style-nature" %>
      <%= link_to "Fantasy", root_path(category: "fantasy"), class: "btn-category marker-style-fantasy" %>
    </div>


    <ul class="list-unstyled">
      <li class="list-capsule">Loading capsules...</li>
    </ul>
</div>
