  <div id="left-menu" class="side-menu">
    <button class="btn close-btn" data-action="click->menu#closeLeftMenu">×</button>
    <h2 class="text-center p-2">My capsules</h2>
    <ul class="list-unstyled">
      <li>
        <%= render "shared/capsule_design" %>
      </li>
      <li class="mt-2">
        <%= render "shared/capsule_design" %>
      </li>
      <li class="mt-2">
        <%= render "shared/capsule_design" %>
      </li>
      <li class="mt-2">
        <%= render "shared/capsule_design" %>
      </li>
      <li class="mt-2">
        <%= render "shared/capsule_design" %>
      </li>
    </ul>
  </div>
