<!DOCTYPE html>
<html>
  <head>
    <title>Kapsul</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%= render 'shared/ios_pwa_links' %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="main-content" data-controller="menu" class="content">
      <%= render "shared/menu_left"%>
      <%= render "shared/menu_right"%>
      <% if on_home_page? %>
        <button class="btn left-burger text-muted" data-target="menu.leftBurger" data-action="click->menu#openLeftMenu"><i class="fas fa-bars"></i></button>
        <button class="btn right-burger text-muted" data-target="menu.rightBurger" data-action="click->menu#openRightMenu"><i class="fas fa-bars"></i></button>
      <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/navbar" %>
  </div>
  </body>
</html>
